<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, 'Nombre' %><br />
    <%= form.text_field :name, class: 'form-control', readonly: readonly %>
  </div>
  <div class="form-group">
    <%= form.label :email, 'Email' %><br />
    <%= form.email_field :email, class: 'form-control', readonly: readonly %>
  </div>
  <%- unless readonly %>
    <div class="form-group">
      <%= form.label :password, 'Password' %><br />
      <%= form.password_field :password, class: 'form-control', readonly: readonly %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, 'Confirmación password' %><br />
      <%= form.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
